* {font-family: consolas; color:#1c2330}

body {
  background-color: #f2f5f0;
}

.flex {
  display: flex;
  max-width: 300px;
  padding: 10px;
  border: 2px solid #1c2330;
  background-color: #394b6b; 
}

.item {
  margin: 5px;
  background-color: #7b90b8;
}